# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual environments
.venv/
venv/

# Build
build/
dist/

# Caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Generated
*.pt
